.patient_info {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.patient_last_examination_info {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  margin-left: 50%;
}

.patient_examinations {
  clear: both;
}
